.botonAddDetail{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: -350px;
    button{
        width: 35px;
        font-size: 12px;
        margin: 10px;
    }
    p{
        font-size: 20px;
    }
}
.botonCompraDetail{
    margin-right: 83px !important;
    margin-left: 79px !important;
    padding: 7px;
    width: 180px !important;
    font-size: 22px !important;
    border-radius: 16px;

    
}