


.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
    position: initial !important;
    left: 1526px;
}


.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    top: 99px !important;
    left: 1445px !important;
}


.cart-widget {
    display: flex;
    align-items: center;
}
.item-cart-product {
    float: left;
    display: flex;
    max-width: 500px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.item-cart-product img {
    width: 25%;
}

.item-cart-product img + .cart-product__details {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-cart-product .cart-product__details:nth-last-child(2) {
    width: 30%;
    display: flex;
    align-items: center;
}

.cart-product__action {
    width: 10%;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.cart-product__details {
    display: flex;
}

.botonVaciar{
    border-color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 350px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        color: grey;
    }
    
}

.iconoCarrito{
    cursor:pointer;
}

.carritoVacio{
    margin-left: 233px;
    padding: 7px;
    border-radius: 6px;
    border: solid 1px;
    font-size: 21px;
}

.finalizarCompraCart{
    margin-left: -440px;
    border: solid 1px;
    border-radius: 7px;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    &:hover{
        color:grey;
    }
}
