.listProducts{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }



.tituloNike{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}