.listProducts{
    display:flex;
    align-items:center;
  }

.listProducts2{
    display:flex;
    align-items:center;
}

.tituloNike{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}