.botonAdd{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    button{
        width: 35px;
        font-size: 12px;
        margin: 10px;
    }
    p{
        font-size: 20px;
    }
}

